<%- include('partials/header.ejs') %>
    <div class="image-upload-area">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <div class="form-control">
                <input type="file" name="imagem" id="picture" class="file-input">
                <label for="picture">
                    <img src="/img/icons/arrow-collapse-up.svg" alt="">
                    Upload da imagem
                </label>
                <input type="text" name="file-name" id="file-name" class="file event input-text" readonly="readonly">
            </div>
            <input type="hidden" name="id" value="<%= user._id %>">
            <button class="default-button" type="submit">Atualizar</button>
        </form>
    </div>
<%- include('partials/footer.ejs') %>