<%- include('partials/header.ejs') %>
    <div class="container">
        <center>
            <div>
                <img src="/uploads/<%= dados.image %>" alt="foto perfil">
                <a href="/image">edit</a>
            </div>

            <br><br><br>

            <div class="">
                <a href="/logout">Sair</a>
            </div>
        </center>

        <%- include('partials/nav_bottom.ejs') %>
    </div>


    <%- include('partials/footer.ejs') %>